# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*.egg-info/

# Sanal Ortam (Virtual Environment)
venv/
env/
*/venv/
*/env/

# Jupyter Notebook
.ipynb_checkpoints/

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# VERİ SETLERİ VE BÜYÜK DOSYALAR 
*.zip
data/
datasets/
Skin_Data/


*.csv
*.json
*.jsonl


*.h5
*.hdf5
*.pth
*.pt
*.pb
models/
logs/
results/

# Ortam Değişkenleri
.env
*.env